.box1{
        background-color:red;
margin: 10px;
width: 90%;
}

.container{
    height: 100vh;
    display: grid;
grid-template-rows: repeat(4, 100px);
grid-template-columns: repeat(3, 30%);
grid-row-gap: 10px;
grid-column-gap:2rem;
}

.box2{
    background-color: blue;
    margin: 10px;   
    grid-row: 2;
    height: 450px;
}

.box3{
    background-color: green;   
    margin: 10px;
    grid-row: 2;
    height: 450px;
}

.box4{
    background-color: yellow;   
    margin: 10px;
    grid-row-gap: 10px;
}